.slide-pane .slide-pane__title {
    text-align: center;
}
.slide-pane{
    background-color: #F2F2EF !important;
}
.slide-pane__header{
    background-color: #F2F2EF !important;
    border-bottom: none;
}